input, textarea, select {
  display: inline-block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.75);
  border: solid;
  border-radius: 6px;
  vertical-align: center;
  margin-top: 4px;
}

.w-60vw {
  width: 40vw;
}

.centered-custom {
  position: fixed;
  top: 40%;
}

.unclickable {
  pointer-events: none;
}